@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.button {
        padding: 5px;
        margin-left: 10px;
        border: 2px solid #0A2C44;
        border-radius: 5px;
        margin: 5px 0;
	}
}

body {
    background-color: #F3E3CA;
}

* {
    color: #0A2C44;
    font-family: monospace;
}

.brunch {
    background-color: #DCCAAE;
}

.input-style {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.label-style {
    @apply mb-2 text-sm font-medium text-gray-900 dark:text-white;
}